<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>HTML5</title>
    <style>

    </style>
    <link rel="stylesheet" href='../styles/html.css'/>
    <link rel="stylesheet" href='../styles/center.css'/>
    <link rel="stylesheet" href='../styles/main-page.css'/>
    <link rel="stylesheet" href="../styles/price.css"/>
    <link rel="stylesheet" href="../styles/plus.css"/>
    <link rel="stylesheet" href="../styles/rep.css"/>
    <link rel="stylesheet" href="../styles/slider.css"/>
    <link rel="stylesheet" href="../styles/footer.css"/>

</head>
<body>
    <a>huy</a>
</body>
</html>