<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name='viewport' content="width=device-width" />
    <title>HTML5</title>
    <style>
    
    </style>
    <link rel="stylesheet" href='../styles/html.css'/>
    <link rel="stylesheet" href='../styles/center.css'/>
    <link rel="stylesheet" href='../styles/main-page.css'/>
    <link rel="stylesheet" href="../styles/price.css"/>
    <link rel="stylesheet" href="../styles/plus.css"/>
    <link rel="stylesheet" href="../styles/rep.css"/>
    <link rel="stylesheet" href="../styles/slider.css"/>
    <link rel="stylesheet" href="../styles/footer.css"/>
    <link rel="stylesheet" href="../styles/css.css"/>
    
</head>
<body>
    <header>
        
    </header>
    
    <div class="main-page">
        <div class="main-page-navigation">
            <a class="true" href=""></a>
            <a class href=""></a>
            <a class href=""></a>
        </div>
        <div class="main-page-container-menu">
            <ul class="main-page-menu">
                <li><a href="../templates/main.html">ГЛАВНАЯ</a></li>
                <li><a href="../templates/about.html">О НАС</a></li>
                <li><a href="../templates/about.html">ПРЕИМУЩЕСТВА</a></li>
                <li><a href="../templates/price.html">НОМЕРА И ЦЕНЫ</a></li>
                <li><a href="../templates/blog.html">БЛОГ</a></li>
                <li><a href="../templates/center.html">ЗАБРОНИРОВАТЬ</a></li>
                <li><a href="../templates/contacts.html">КОНТАКТЫ</a></li>
            </ul>
        </div>
        <div class="main-page-container">
            <div class="inner">
                
                <div class="inner-text">
                    <span>Скажи да!</span>
                    <span>комфортному</span>
                    <span>ОТДЫХУ</span>   
                    
                </div>  
            </div>
            
            
        </div>
        <div class="border">
                
        </div>
        
    </div>

    <div class="center">
        <div class="center-slogan">
            <li><a>Спланируй свое идеальное путешествие</a></li>
            <li><a>Добро пожаловать в наш новый, яркий и комфортабельный YES!hostel.</a></li>
            <li><a href="https://reservationsteps.ru/rooms/index/669923a6-9625-4d70-a276-0c5cc7b2cfee">ЗАБРОНИРОВАТЬ</a></li>
        </div>
            
        </div>
        
    </div>
    <div class="price">
        <div class="price-text">
            <a>Номера и цены</a>
        </div>
        <div class="price-elements">
            <div class="hohloma">
                <img src="../templates/static/images/hohloma.png">
                <div class="info">
                    <a href="">Хохлома - общая комната для мужчин и женщин 600 рублей</a>
                </div>
            </div>
            <div class="gorodec">
                <img src="../templates/static/images/gorodec.png">
                    <a href="">Городец – общая комната для мужчин и женщин 700 рублей</a>
                </div>
            <div class="gjel">
                <img src="../templates/static/images/gjel.png">
                <div class="info">
                    <a href="">Гжель – женская комната 700 рублей</a>
                </div>
            </div>
            <div class="paleh">
                <img src="../templates/static/images/paleh.png">
                <div class="info">
                    <a href="">Палех – мужская комната 700 рублей</a>
                </div>
            </div>
            <div class="dimkovskaya">
                <img src="../templates/static/images/dimkovskaya.png">
                <div class="info">
                    <a href="">Дымковская игрушка – 2х местный семейный номер 1800 рублей</a>
                </div>
            </div>
            <div class="matrechka">
                <img src="../templates/static/images/matrechka.png">
                <div class="info">
                    <a href="">Матрешка – 2х местный номер семейный номер 1800 рублей</a>
                </div>
            </div>
        </div>

    </div>
    <div class="plus">
        <p>PLUS</p>
    </div>
    <div class="rep">
        <p>REP</p>
    </div>
    <div class="slider">
        <p>SLIDER</p>
    </div>
    <footer>
        <p>footer</p>
    </footer>
</body>
</html>